.section{
    margin-top: 56px ;
    margin-left: 89px;
        h2{
            font-weight: 700;
            font-size: 34px;
            line-height: 43px;
    }
    span{
        color: #FBC94A;
    }
}